DATABASE_URL="postgresql://postgres:000@localhost:5432/nagm?schema=public"
DATABASE_PASSWORD=000
POSTGRES_USER=postgres
POSTGRES_DB=nagm
DEEPSEEK_API_KEY="sk-83d1cf7d79e541c8a707cfbd49bf1ef6"
JWT_SECRET=your_secret
JWT_REFRESH_SECRET=your_refresh_secret
EMAIL_USER=nagmotp@gmail.com
EMAIL_PASS=zibr gops xqpu mlcq
NODE_ENV=production
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
